<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myproject">

    <application
        android:name=".context.ApplicationContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.AddStudent"></activity>
        <activity android:name=".studenthome.SubjectList" />
        <activity android:name=".studenthome.StudentTotalAttendance" />
        <activity android:name=".studenthome.StudentViewAttendance" />
        <activity android:name=".studenthome.StudentTakeAttendance" />
        <activity android:name=".studenthome.Student_ViewStudent" />
        <activity android:name=".studenthome.StudentViewCourse" />
        <activity android:name=".activity.StudentHome" />
        <activity android:name=".activity.ViewStudentByBranchYear" />
        <activity android:name=".activity.Subject" />
        <activity android:name=".activity.ViewRegisteredStudent" />
        <activity android:name=".activity.RegisterStudent" />
        <activity android:name=".activity.TotalAttendance" />
        <activity android:name=".activity.ViewAttendance" />
        <activity android:name=".activity.TakeAttendance" />
        <activity android:name=".activity.ViewStudent" />
        <activity android:name=".activity.CourseActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.HomeActivity" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>